{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main--fixed-top">
      <div class="rlr-section__content--lg-top">
        <section class="rlr-section rlr-section__mt rlr-account">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 offset-lg-4">
                <form action="{% url 'register_url' %}" method="post">
                    {% csrf_token %}
                  <div class="rlr-authforms__header">
                    <img class="mb-2" src="{% static '/assets/Logomark.svg' %}" alt="Logo" />
                    <h2>{% blocktrans %}Hisob ochish{% endblocktrans %}</h2>
                  </div>
                  <div class="rlr-authforms__form">
                    <div class="rlr-authforms__inputgroup"><label class="rlr-form-label rlr-form-label--light required"> {% blocktrans %}Foydalanuvchini nomi{% endblocktrans %} </label> <input type="text" autocomplete="off" class="form-control form-control--light" name="username" /></div>
                    <div class="rlr-authforms__inputgroup"><label class="rlr-form-label rlr-form-label--light required"> {% blocktrans %}Email{% endblocktrans %} </label> <input type="text" autocomplete="off" class="form-control form-control--light" name="email" /></div>
                    <div class="rlr-authforms__inputgroup"><label class="rlr-form-label rlr-form-label--light required">{% blocktrans %}Telefon Raqam{% endblocktrans %} </label> <input type="text" autocomplete="off" class="form-control form-control--light" name="phone_number" /></div>
                    <div class="rlr-authforms__inputgroup">
                      <label class="rlr-form-label rlr-form-label--light required"> {% blocktrans %}Parol{% endblocktrans %}</label> <input type="password" autocomplete="off" class="form-control form-control--light" name="password" />
                      <p class="help-text">{% blocktrans %}Parol 8 yoki undan ortiq belgidan iborat boʻlishi kerak.{% endblocktrans %}</p>
                    </div>
                    <button type="submit" class="btn rlr-button rlr-button--fullwidth rlr-button--primary">{% blocktrans %}Ro'yhatdan o'tish{% endblocktrans %}</button>
                  </div>
                  <div class="rlr-authforms__notes">
                    <p>{% blocktrans %}Hisobingiz bormi?{% endblocktrans %} <a href="{% url 'login_url' %}">{% blocktrans %}Kirish{% endblocktrans %}</a></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
{% endblock %}