{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Your vacation, tours and travel theme needs are all met at emprise." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour Travel Website</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static '/assets/favicon.ico' %}" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static '/styles/plugins.css' %}" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static '/styles/main.css' %}" />
  </head>

  <body class="rlr-body">
    <!-- Header -->
    <header>
      <nav id="navigation" class="navigation rlr-navigation default-nav fixed-top">
        <!-- Logo -->
        <div class="navigation-header">
          <div class="navigation-brand-text">
            <div class="rlr-logo rlr-logo__navbar-brand rlr-logo--default">
              <a href="{% url 'index_url' %}">
                <img src="{% static '/assets/svg/emprise-logo-dark.svg' %}" alt="#" class="" />
              </a>
            </div>
          </div>
          <div class="navigation-button-toggler">
            <span class="rlr-sVGIcon"> <i class="rlr-icon-font rlr-icon-font--megamenu flaticon-menu"> </i> </span>
          </div>
        </div>
        <div class="navigation-body rlr-navigation__body container">
          <div class="navigation-body-header rlr-navigation__body-header">
            <div class="navigation-brand-text">
              <div class="rlr-logo rlr-logo__navbar-brand rlr-logo--default">
                <a href="{% url 'index_url' %}">
                  <img src="{% static '/assets/svg/emprise-logo-dark.svg' %}" alt="#" class="" />
                </a>
              </div>
            </div>
            <span class="rlr-sVGIcon navigation-body-close-button"> <i class="rlr-icon-font rlr-icon-font--megamenu flaticon-close"> </i> </span>
          </div>

          <!-- Main menu -->
          <ul class="navigation-menu rlr-navigation__menu rlr-navigation__menu--main-links">
            <!-- Dropdown menu 1 -->
            <li class="navigation-item is-active">
              <a class="navigation-link" href="{% url 'index_url' %}">Home</a>
            </li>
            <!-- Dropdown menu 1 -->
            <li class="navigation-item">
              <a class="navigation-link" href="{% url 'gallery_url' %}">Gallery</a>
            </li>
            <!-- Dropdown menu 2 -->
            <li class="navigation-item">
              <a class="navigation-link" href="{% url 'blog_url' %}"> Blog </a>
            </li>
            <!-- Dropdown menu 2 -->
            <li class="navigation-item">
              <a class="navigation-link" href="./contact.html"> Contact </a>
            </li>
          </ul>
          <!-- User actions menu -->
          <ul class="navigation-menu rlr-navigation__menu align-to-right">
            <!-- Language dropdown -->
            <li class="navigation-item">
              <a class="navigation-link" href="#">
                <span class="d-lg-none d-xxl-block">English</span>
              </a>
            </li>
            <!-- User account dropdown -->
            <li class="navigation-item">
              <a class="navigation-link" href="#"> Sarah</a>
              <ul class="navigation-dropdown">
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-link" href="./my-account-pages--dashboard.html">Profile</a>
                </li>
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-link" href="./search-results--no-sidebar.html">Favorites</a>
                </li>
                <li class="navigation-dropdown-item">
                  <hr class="dropdown-divider rlr-dropdown__divider" />
                </li>
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-link" href="./account-pages--login.html">Sign out</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>

  {% block content %}

  {% endblock %}
    </main>
    <!-- Footer -->
    <footer class="rlr-footer rlr-section rlr-section__mt">
      <div class="container">
        <!-- Footer menu -->
        <div class="rlr-footer__menu">
          <nav class="rlr-footer__menu__col">
            <!-- Footer menu col -->
            <h4>Services</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Gallery</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </nav>
          <nav class="rlr-footer__menu__col">
            <!-- Footer menu col -->
            <h4>Adventures</h4>
            <ul>
              <li><a href="#">Profile</a></li>
              <li><a href="#">login</a></li>
              <li><a href="#">Sign up</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </nav>
        </div>
        <!-- Footer bottom -->
        <div class="rlr-footer__legal">
          <div class="rlr-footer__legal__row rlr-footer__legal__row--top">
            <div class="rlr-footer__legal__row__col">
              <a href="#">Privacy Policy</a>
            </div>
            <!-- Footer social links -->
            <div class="rlr-footer__legal__row__col">
              <a href="{{ info.linkedin }}">Linkedin</a>
              <span class="separate">/</span>
              <a href="{{ info.facebook }}">Facebook</a>
              <span class="separate">/</span>
              <a href="{{ info.instagram }}">Instagram</a>
            </div>
          </div>
          <!-- Footer copyright -->
          <div class="rlr-footer__legal__row rlr-footer__legal__row--bottom">
            <div class="rlr-footer__legal__row__col">
              <span>2024 © Railar Solutions</span>
            </div>
            <!-- Footer payment thumbs -->
          </div>
        </div>
      </div>
    </footer>
    <!-- Scripts -->
    <script src="{% static '/vendors/navx/js/navigation.min.js' %}" defer></script>
    <script src="{% static '/js/main.js' %}" defer></script>
  </body>
</html>
