{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main--fixed-top">
      <div class="container">
        <div class="row rlr-search-results-page__product-details justify-content-center">
          <section class="rlr-search-results-page__product-list">
            <div class="row rlr-listings__header">
              <!-- Breadcrumb -->
              <h1 class="rlr-section__heading--main">Blog</h1>
            </div>
            <div class="row rlr-search-results-page__card-wrapper">
              {% for i in blog %}
              <div class="col-md-6 col-lg-4">
                <article class="rlr-postcard">
                  <img class="rlr-postcard__thumbnail" src="{{ i.title_img.url }}" alt="blog image" />
                  <div class="rlr-postcard__summary">
                    <span class="rlr-postcard__author">{{ i.created_at }}</span>
                    <a href="{% url 'single_blog_url' i.pk %}" class="rlr-product-card__anchor-title">
                      <h2 class="rlr-product-card__title">{{ i.title }}</h2>
                    </a>
                    <p>{{ i.description }}</p>
                    <div class="rlr-product-card__footer">
                      <div class="rlr-product-card__icon-text-list">
                        <a href="#" class="rlr-icon-text rlr-icon-text--anchor rlr-icon-text__anchor rlr-product-card__icon-text"> <i class="rlr-icon-font flaticon-check"> </i> <span class="rlr-postcard__tag">{{ i.category.name }}</span> </a>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              {% endfor %}
            </div>
            <hr class="rlr-search-results-page__divider" />
          </section>
        </div>
      </div>
    </main>
{% endblock %}