{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<!-- Main Content -->
<main id="rlr-main" class="rlr-main--fixed-top">
  <!-- Header banner -->
  <section class="rlr-section">
    <div class="rlr-cta rlr-cta--no-button">
      <h2>{% blocktrans %}Biz bilan bog'lanish{% endblocktrans %} </h2>
    </div>
  </section>
  <!-- Main content -->
  <section class="rlr-section rlr-section__mt">
    <div class="container">
      <div class="row justify-content-around">
        <!-- Contact form -->
        <div class="col-xl-offset-1 col-xxl-5 col-lg-5">
          <div class="rlr-contact-form">
            <div class="rlr-contact-form__header">
              <div class="rlr-page-title">
                <span class="rlr-page-title__icon">
                  <i class="rlr-icon-font flaticon-fluent-hand-left-20-regular">
                  </i>
                </span>
                <div>
                  <h2 class="type-h3 rlr-page-title__title">
                      {% blocktrans %}Salom, biz sizga yordam berishdan xursandmiz!{% endblocktrans %}
                  </h2>
                  <span class="rlr-page-title__desc"
                    >{% blocktrans %}Siz bilan bog‘lanishimiz uchun ma’lumotlarni kiriting{% endblocktrans %}</span
                  >
                </div>
              </div>
            </div>
            <div class="rlr-contact-form__body">
        <form action="{% url 'set_contact_data' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="rlr-contact-form__input-group">
            <label class="type-body-medium rlr-contact-form__label">{% blocktrans %}Ism{% endblocktrans %}</label>
            <input type="text" autocomplete="off" class="form-control" placeholder="" name="first_name">
          </div>
          <div class="rlr-contact-form__input-group">
            <label class="type-body-medium rlr-contact-form__label">{% blocktrans %}Familya{% endblocktrans %}</label>
            <input type="text" autocomplete="off" class="form-control" placeholder="" name="last_name">
          </div>
          <div class="rlr-contact-form__input-group">
            <label class="type-body-medium rlr-contact-form__label">{% blocktrans %}Telefon raqam{% endblocktrans %}</label>
            <input type="tel" autocomplete="off" class="form-control" placeholder="" name="phone">
          </div>
          <div class="rlr-contact-form__input-group">
            <label class="type-body-medium rlr-contact-form__label">{% blocktrans %}Xabar{% endblocktrans %}</label>
            <textarea class="form-control form-control--text-area" placeholder="" rows="12" name="message"></textarea>
          </div>
          <div class="rlr-contact-form__input-group">
            <label class="type-body-medium rlr-contact-form__label">{% blocktrans %}Elektron pochta {% endblocktrans %}</label>
            <input type="email" autocomplete="off" class="form-control" placeholder="" name="email">
          </div>
          <button type="submit" class="btn rlr-button rlr-button--fullwidth rlr-button--primary">{% blocktrans %}Yuborish{% endblocktrans %}</button>
        </form>
            </div>
          </div>
        </div>
        <!-- Contact Details -->
        <div
          class="col-xl-offset-1 col-xxxl-offset-1 col-xxl-4 col-lg-5 mt-5 mt-lg-0"
        >
          <div class="rlr-contact-details">
            <div class="rlr-contact-details__details">
              <div class="rlr-contact-detail-item">
                <span class="rlr-contact-detail-item__icon">
                  <i class="rlr-icon-font flaticon-phone-receiver-silhouette">
                  </i>
                </span>
                <div>
                  <p class="rlr-contact-detail-item__title">{% blocktrans %}Telefon raqam{% endblocktrans %}</p>
                  <h6 class="rlr-contact-detail-item__desc">{{ info.phone_number }}</h6>
                </div>
              </div>
              <div class="rlr-contact-detail-item">
                <span class="rlr-contact-detail-item__icon">
                  <i class="rlr-icon-font flaticon-email"> </i>
                </span>
                <div>
                  <p class="rlr-contact-detail-item__title">{% blocktrans %}Elektron pochta{% endblocktrans %}</p>
                  <h6 class="rlr-contact-detail-item__desc">
                    {{ info.email }}
                  </h6>
                </div>
              </div>
                <div class="rlr-contact-detail-item">
                <span class="rlr-contact-detail-item__icon">
                  <i class="rlr-icon-font flaticon-map-marker"> </i>
                </span>
                <div>
                  <p class="rlr-contact-detail-item__title">{% blocktrans %}Manzil{% endblocktrans %}</p>
                  <h6 class="rlr-contact-detail-item__desc">
                    {{ info.address }}
                  </h6>
                </div>
              </div>
            </div>
            <div class="rlr-contact-details__map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2822.7806761080233!2d-93.29138368446431!3d44.96844997909819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b32b6ee2c87c91%3A0xc20dff2748d2bd92!2sWalker+Art+Center!5e0!3m2!1sen!2sus!4v1514524647889"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}

