{% extends 'base.html' %}
    {% load static %}
    {% load i18n %}
    {% block content %}
        <main id="rlr-main" class="rlr-main--fixed-top">
        <section class="rlr-icon-font-page rlr-section rlr-section__content--md-top">
            <div class="rlr-lightbox--gallery">
                <div class="rlr-lightbox--gallery__wrapper">
                {% for i in gallery%}
                <a data-fslightbox="demo-images" data-foo="bar" href="{{i.image.url}}">
                    <figure class="rlr-lightbox--gallery__figure">
                    <img class="rlr-lightbox--gallery__img" src="{{ i.image.url }}" alt="Anchor Button" />
                    <figcaption class="rlr-lightbox--gallery__figcaption">
                        <span>{{i.id}}</span>
                    </figcaption>
                    </figure>
                </a>
                {% endfor %}
                </div>
            </div>
            </div>
        </section>
        </main>
{% endblock %}