{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main--fixed-top">
      <!-- Hero Banner -->  
      <aside class="rlr-hero--half-mast">
        <div class="container">
          <div id="rlr_banner_slider" class="splide rlr-banner-splide rlr-banner-splide--v3">
            <div class="splide__track rlr-banner-splide__track">
              <ul class="splide__list">
                <!-- Banner slide 1 -->
                {% for i in banner %}
                <li class="splide__slide rlr-banner-splide__slide">
                  <div class="rlr-banner-splide__image-wrapper">
                    <img class="rlr-banner-splide__banner-img lazyload" data-sizes="auto" data-src="{{ i.image.url }}" src="{{ i.image.url }}" alt="Bu yerda rasm bor" />
                  </div>
                  <article class="rlr-banner-splide__content-wrapper">
                    <header class="rlr-banner-splide__header">
                      <h2 class="rlr-banner-splide__slogan">{{ i.title }}</h2>
                      <span class="rlr-banner-splide__sub-title">{{ i.description }}</span>
                    </header>
                  </article>
                </li>
                {% endfor %}
                <!-- Banner slide 2 -->
              </ul>
            </div>
          </div>
        </div>
      </aside>
      <!-- Main Content -->
    <main id="rlr-main" class="rlr-main--fixed-top">
      <section class="rlr-about rlr-section rlr-section__my">
      
      <div class="container">
       {% for ab in about %}
      <div class="row">
        <div class="col-lg-6">
        <!-- Section heading -->
        <div class="rlr-section__title">
          <h2 class="rlr-section__title--main">{{ab.title}}</h2>
          <span class="rlr-section__title--sub">{{ab.description}}</span>
        </div>
        <div>
            <p class="rlr-text-card__desc" >{{ab.text}}</p>
          </div>
        </div>
        <div class="offset-xl-1 col-lg-5">
        <div class="rlr-img rlr-img--dotted img-fluid">
          <img class="img-fluid" src="{{ ab.image.url }} " alt="image our vision" />
        </div>
        </div>
      </div><br><br><br><br>
       {% endfor %}
      </div>
      <div class="container">
          {% for ab in about1 %}
              <div class="row">
                <div class="col-lg-6">
                <div class="rlr-img rlr-img--dotted img-fluid">
                  <img class="img-fluid" src="{{ ab.image.url }} " alt="image our vision" />
                </div>
                </div>
                <div class="col-lg-6">
                <!-- Section heading -->
                <div class="rlr-section__title">
                  <h2 class="rlr-section__title--main">{{ab.title}}</h2>
                  <span class="rlr-section__title--sub">{{ab.description}}</span>
                </div>
                <div>
                    <p class="rlr-text-card__desc" >{{ab.text}}</p>
                  </div>
                </div>
              </div>
          {% endfor %}
        </div><br><br><br><br>
      <div class="container">
          {% for ab in about2 %}
      <div class="row">
        <div class="col-lg-6">
        <!-- Section heading -->
        <div class="rlr-section__title">
          <h2 class="rlr-section__title--main">{{ab.title}}</h2>
          <span class="rlr-section__title--sub">{{ab.description}}</span>
        </div>
        <div>
            <p class="rlr-text-card__desc" >{{ab.text}}</p>
          </div>
        </div>
        <div class="offset-xl-1 col-lg-5">
        <div class="rlr-img rlr-img--dotted img-fluid">
          <img class="img-fluid" src="{{ ab.image.url }} " alt="image our vision" />
        </div>
        </div>
      </div>
      {% endfor %}
    </div>
      <br><br>
      <h2 style="text-align: center;">{% blocktrans %}Bizning bloglarimiz{% endblocktrans %}</h2>
       <div class="row rlr-search-results-page__card-wrapper">

           {% for i in blog %}
               <div class="col-lg-4">
               <article class="rlr-postcard"><img class="rlr-postcard__thumbnail" src="{{ i.title_img.url }}" alt="blog image" /><div class="rlr-postcard__summary">
                   <span class="rlr-postcard__author">{{ i.created_at }}</span>
                   <a href="{% url 'single_blog_url' i.pk %}" class="rlr-product-card__anchor-title"><h2 class="rlr-product-card__title">{{ i.title }}</h2>
                   </a>
                   <p>{{ i.description }}</p>
                   <div class="rlr-product-card__footer"><div class="rlr-product-card__icon-text-list">
                       <a href="#" class="rlr-icon-text rlr-icon-text--anchor rlr-icon-text__anchor rlr-product-card__icon-text"> <i class="rlr-icon-font flaticon-check"> </i> <span class="rlr-postcard__tag">{{ i.category.name }}</span> </a>
                   </div>
                   </div>
               </div>
               </article>
           </div>
           {% endfor %}
       </div>
    </section>
    </main>
{% endblock %}
