{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <main id="rlr-main" class="rlr-main--fixed-top">
      <div class="rlr-section__content--md-top">
        <div class="rlr-section rlr-section__my">
          <div class="container">
            <div class="row">
              <div class="content col-lg-9 col-xs-12">
                <div class="woocommerce-MyAccount-content">
                  <h1 class="type-h3 rlr-data-table__title">{% blocktrans %}Sizning Akkauntingiz{% endblocktrans %}</h1>
                  <div class="rlr-myaccount__wrapper">
                    <div class="woocommerce-MyAccount-content">
                      <p>{% blocktrans %}Salom{% endblocktrans %} <strong>{{ user.username }}</strong> ({% blocktrans %}Siz emasmisiz{% endblocktrans %} <strong>{{ user.username }}</strong>? <a href="{% url 'logout_url' %}">{% blocktrans %}Chiqish{% endblocktrans %}</a>)</p>
                      <p><strong>{% blocktrans %}Telefon raqamingiz{% endblocktrans %}: {{ user.phone_number }}</strong></p>
                      <p><strong>{% blocktrans %}Elektron pochtangiz{% endblocktrans %}: {{ user.email }}</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
   {% endblock %}