 {% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <main id="rlr-main" class="rlr-main--fixed-top">
      <!-- Blog Element -->
      <div class="container-xxl">
        <article class="rlr-article rlr-article-single--v2">
          <header class="rlr-article__header">
            <div class="rlr-article__header__timestamp">{{ single_blog.created_at }}</div>
            <h1 class="type-h1">{{ single_blog.title }}</h1>
            <h6 class="type-sub-title">{{ single_blog.description }}</h6>
          </header>
          <div class="rlr-article__featured-photo">
            <img src="{{ single_blog.title_img.url }}" alt="Featured Photo" />
          </div>
          <div class="rlr-article__wrapper">
            <div class="content">
              <div class="content__highlight">
              <figure>
                <img src="{{ single_blog.single_img.url }}" alt="Photo" />
              </figure>
              <p class="type-lead">{{ single_blog.text }}</p>
              </div>
            </div>
          </div>
        </article>
        <!-- Newsletter Subscription -->
      </div>
    </main>
   {% endblock %}